table {
    width: 100%;
}

.example-container {
    position: relative;
    min-height: 290px;
}

mat-chip {
    pointer-events: none;
}
  
.example-table-container {
    position: relative;
    max-height: 394px;
    overflow: auto;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    /* background: rgba(0, 0, 0, 0.15); */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 394px;

}

th {
    font-weight: bold;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.m-right-xs-5 {
    margin-right: 5px;
}

img {
    vertical-align: middle;
    border: 0;
    width: 16px;
    position: relative;
    top: -2px;
}

.img-circle {
    border-radius: 50%;

}

.Organization {
    color: orange;
}

.User {
    color: #00B4AB;
}

.footer {
    font-weight: bold;
    font-size: small;
}
.mat-elevation-z8 {
    box-shadow: none;
}

.mat-form-field {
    font-size: 14px;
    width: 25%;
    margin-left: 1%;
}

mat-toolbar {
    background-color: #ffffff;
}
.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar > a {
    margin-right: 1%;
}