<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
        *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="example-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> Owner </th>
        <td mat-cell *matCellDef="let element">
          <a [href]="element.owner.html_url" target="_blank">
            <img [src]="element.owner.avatar_url" alt="Owner gravatar" class="img-circle m-right-xs-5">
            {{element.owner.login | uppercase}} 
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element">
          <span [class]="element.owner.type">{{element.owner.type}}</span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at | date: "dd/MM/yyyy"}} </td>
      </ng-container>
    
      <ng-container matColumnDef="stargazers_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stars </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>{{element.stargazers_count}}</mat-chip>
          </mat-chip-list>
           
        </td>
      </ng-container>

      <ng-container matColumnDef="open_issues_count">
        <th mat-header-cell *matHeaderCellDef> Issues </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>{{element.open_issues_count}}</mat-chip>
          </mat-chip-list>
          
        </td>
      </ng-container>

      <ng-container matColumnDef="forks_count">
        <th mat-header-cell *matHeaderCellDef> Forks </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>{{element.forks_count}}</mat-chip>
          </mat-chip-list>
           
        </td>
      </ng-container>
    
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef> Language </th>
        <td mat-cell *matCellDef="let element" style="color: rgb(12, 122, 218)"> {{element.language}} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element">
          {{element.size}} KB
        </td>
      </ng-container>
    
      <ng-container colspan="3" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button title="Details" (click)="openDialog(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button 
            mat-icon-button title="Clone" 
            [cdkCopyToClipboard]="element.clone_url" 
            (click)="copyCloneMsg('Clone url has compied to clipboard')"
          >
            <mat-icon>file_copy</mat-icon>
          </button>
          
          <!-- <button mat-icon-button> -->
            <a mat-icon-button [href]="element.html_url" target="_blank" title="View in Github">
              <mat-icon>open_in_new</mat-icon>
            </a>
          <!-- </button> -->
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>